{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 7 – Privacy and Dignity</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-160506">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/1" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/2" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/3" title="Introduction to privacy and dignity">
<span>Introduction to privacy and dignity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/4" title="Privacy and dignity">
<span>Privacy and dignity</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/5" title="Person-centred values">
<span>Person-centred values</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/6" title="Promoting safeguarding and wellbeing">
<span>Promoting safeguarding and wellbeing</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/7" title="Privacy of information">
<span>Privacy of information</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/8" title="Confidentiality">
<span>Confidentiality</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/9" title="Privacy dilemmas">
<span>Privacy dilemmas</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/10" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/11" title="Care and support">
<span>Care and support</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/12" title="Providing safety and comfort">
<span>Providing safety and comfort</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/13" title="Protecting and respecting privacy and dignity">
<span>Protecting and respecting privacy and dignity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/14" title="Compromising privacy and dignity">
<span>Compromising privacy and dignity</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/15" title="Maintaining privacy and dignity">
<span>Maintaining privacy and dignity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/16" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/17" title="Making choices">
<span>Making choices</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/18" title="Promoting dignity">
<span>Promoting dignity</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/19" title="Informed choices">
<span>Informed choices</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/20" title="Difficulties in decision-making">
<span>Difficulties in decision-making</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/21" title="Mental capacity">
<span>Mental capacity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/22" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/23" title="Risk assessment and enablement">
<span>Risk assessment and enablement</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/24" title="Risk assessment">
<span>Risk assessment</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/25" title="Five steps to risk assessment">
<span>Five steps to risk assessment</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/26" title="Risk enablement">
<span>Risk enablement</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/27" title="Complaints">
<span>Complaints</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/28" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/29" title="Active participation and self-care">
<span>Active participation and self-care</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/30" title="Supporting active participation">
<span>Supporting active participation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/31" title="Self-care">
<span>Self-care</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/32" title="Self-care skills">
<span>Self-care skills</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/33" title="Common Core Principles to Support Self-Care">
<span>Common Core Principles to Support Self-Care</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/34" title="Supporting self-care">
<span>Supporting self-care</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/35" title="Stereotyping and prejudice">
<span>Stereotyping and prejudice</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/36" title="Raising concerns">
<span>Raising concerns</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/37" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/7/topic/38" title="Summary of Care Certificate Standard 7">
<span>Summary of Care Certificate Standard 7</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163964">
<div class="list-count">1</div>
<h4>
<a class="completed" href="/lms/care-certificate/unit/7/quiz">Care Certificate Standard 7 – Privacy and Dignity Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="/lms/care-certificate/unit/6" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="/lms/care-certificate/unit/8" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}