{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 12 – Basic Life Support</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-163813">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/introduction-to-basic-life-support/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/introduction-to-basic-life-support-duplicate/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/basic-life-support-training-and-cardiac-arrest/" title="Basic life support training and cardiac arrest">
<span>Basic life support training and cardiac arrest</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/practical-and-further-training/" title="Practical and further training">
<span>Practical and further training</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/first-aid-training/" title="First aid training">
<span>First aid training</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/training-and-guidance/" title="Training and guidance">
<span>Training and guidance</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/why-do-you-need-basic-life-support-bls-training/" title="Why do you need basic life support (BLS) training?">
<span>Why do you need basic life support (BLS) training?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/cardiac-arrest-survival/" title="Cardiac arrest survival">
<span>Cardiac arrest survival</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/what-is-a-cardiac-arrest/" title="What is a cardiac arrest?">
<span>What is a cardiac arrest?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/signs-of-a-cardiac-arrest/" title="Signs of a cardiac arrest">
<span>Signs of a cardiac arrest</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/causes-of-a-cardiac-arrest/" title="Causes of a cardiac arrest">
<span>Causes of a cardiac arrest</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/importance-of-cpr/" title="Importance of CPR">
<span>Importance of CPR</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/summary-reflection-39/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/introduction-to-basic-life-support-elements/" title="Basic life support elements">
<span>Basic life support elements</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/basic-life-support-bls/" title="Basic Life Support (BLS)">
<span>Basic Life Support (BLS)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/initial-assessment/" title="Initial assessment">
<span>Initial assessment</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/drabcd-adult-2/" title="DRABCD (Adult)">
<span>DRABCD (Adult)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/drabcd-adult-duplicate-duplicate-duplicate/" title="DRABCD (Adult)">
<span>DRABCD (Adult)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/drabcd-adult-duplicate-duplicate/" title="DRABCD (Adult)">
<span>DRABCD (Adult)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/avpu-scale/" title="AVPU scale">
<span>AVPU scale</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/drabcd-infant-and-child/" title="DRABCD (Infant and child)">
<span>DRABCD (Infant and child)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/rcuk-bls-sequences/" title="RCUK BLS sequences">
<span>RCUK BLS sequences</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/summary-reflection-40/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/introduction-to-cpr-and-defibrillation/" title="CPR and defibrillation">
<span>CPR and defibrillation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/cardiopulmonary-resuscitation-cpr/" title="Cardiopulmonary resuscitation (CPR)">
<span>Cardiopulmonary resuscitation (CPR)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/hands-only-cpr/" title="Hands-only CPR">
<span>Hands-only CPR</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/the-chain-of-survival/" title="The chain of survival">
<span>The chain of survival</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/cpr-chest-compressions/" title="CPR chest compressions">
<span>CPR chest compressions</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/cpr-rescue-breaths/" title="CPR rescue breaths">
<span>CPR rescue breaths</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/the-respiratory-system/" title="The respiratory system">
<span>The respiratory system</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/what-is-an-automated-external-defibrillator-aed/" title="What is an Automated External Defibrillator (AED)?">
<span>What is an Automated External Defibrillator (AED)?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/why-are-aeds-important/" title="Why are AEDs important?">
<span>Why are AEDs important?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/who-can-use-an-aed/" title="Who can use an AED?">
<span>Who can use an AED?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/summary-reflection-38/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/obstructed-airways-and-choking/" title="Obstructed airways and choking">
<span>Obstructed airways and choking</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/obstructed-airway-causes/" title="Obstructed airway causes">
<span>Obstructed airway causes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/signs-of-an-obstructed-airway-in-an-adult/" title="Signs of an obstructed airway in an adult">
<span>Signs of an obstructed airway in an adult</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/treatment-of-choking-in-an-adult/" title="Treatment of choking in an adult">
<span>Treatment of choking in an adult</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/signs-of-an-obstructed-airway-in-an-infant-or-child/" title="Signs of an obstructed airway in an infant or child">
<span>Signs of an obstructed airway in an infant or child</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/treatment-of-choking-in-an-infant/" title="Treatment of choking in an infant">
<span>Treatment of choking in an infant</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/back-blows/" title="Back blows">
<span>Back blows</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/chest-thrusts/" title="Chest thrusts">
<span>Chest thrusts</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/reassessing-the-infant/" title="Reassessing the infant">
<span>Reassessing the infant</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/treatment-of-choking-in-a-child/" title="Treatment of choking in a child">
<span>Treatment of choking in a child</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/back-blows-2/" title="Back blows">
<span>Back blows</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/abdominal-thrusts/" title="Abdominal thrusts">
<span>Abdominal thrusts</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/unresponsive-child-and-cpr/" title="Unresponsive child and CPR">
<span>Unresponsive child and CPR</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/summary-reflection-41/" title="Summary/Reflection">
<span>Summary/Reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/introduction-to-record-keeping-and-confidentiality/" title="Record keeping and confidentiality">
<span>Record keeping and confidentiality</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/topic/record-keeping-4/" title="Record keeping">
<span>Record keeping</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-164084">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/quiz/care-certificate-standard-12-basic-life-support-quiz/">Care Certificate Standard 12 - Basic Life Support Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-13-health-and-safety/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}