
<link rel="stylesheet" href="/static/quiz.css">
{% extends 'care_certificate/quiz_layout.html' %}

{% block top_box %}
<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: center">Care Certificate Standard 12 – Basic Life Support Quiz</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ffffff; font-size: 20px;">Now
 you can attempt the quiz for this course. You must achieve at least 12 
out of the 15 questions to pass but you can attempt the quiz as many 
times as you like. So if you don’t pass first time – don’t worry. You 
can go back to the lessons and reattempt the quiz again as many times as
 you need to pass.</span></p>
</div>
</div>
</div></div></div>
{% endblock %}

{% block audio %}
<div class="skin_default" id="skin_default">
<div class="h5ap_quick_player" data-options='{"controls":["play","progress","duration","mute","volume"],"seekTime":0}' style="width:px">
<audio autoplay="autoplay" class="player642166841d06e" controls="controls" muted="muted" playsinline="" preload="auto">
<source src="/static/quiz_audio/55-mini-quiz.2_1.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
            </audio>
</div>
</div>
{% endblock %}

{% block result %}
<div class="wpProQuiz_results" id="result_div" style="display: none;">
 <h4 class="wpProQuiz_header">
  Results
 </h4>
 <p>
  <span class="wpProQuiz_correct_answer" id="correct_answers">
   2
  </span>
  of
  <span>
   15
  </span>
  Questions answered correctly
 </p>
 <div>
  <ul class="wpProQuiz_resultsList">
   <li id="msg_failed" style="display: none;">
    <div>
     <p>
      You have failed the quiz. But don’t worry – you can go back to 
the lessons and then tackle this quiz again as many times as you need to
 pass.
     </p>
    </div>
   </li>
   <li id="msg_passed" style="display: none;">
    <div>
     <p>
      Well done on passing the quiz!
     </p>
     <p>
      You have now completed the Care Certificate 12 quiz! You can now move onto the next section.
     </p>
    </div>
   </li>
  </ul>
 </div>
 <div class="ld-quiz-actions" style="margin: 10px 0px;">
  <input class="wpProQuiz_button wpProQuiz_button_restartQuiz" id="restart_quiz" name="restartQuiz" type="button" value="Restart Quiz"/>
 </div>
</div>

{% endblock %}

{% block quiz %}
<ol class="wpProQuiz_list">
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    1
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Every part of your body needs which of the following for you to survive?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12863" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12863" type="radio" value="0"/>
      Nitrogen
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12863" type="radio" value="0"/>
      Salts
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12863" type="radio" value="0"/>
      Carbon dioxide
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12863" type="radio" value="1"/>
      Oxygen
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    2
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     In the acronym, DRABCD, what does the B stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12864" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12864" type="radio" value="0"/>
      Bystander
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12864" type="radio" value="0"/>
      Blood
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12864" type="radio" value="1"/>
      Breathing
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12864" type="radio" value="0"/>
      Blows
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    3
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     A record is typically made in the accident book and this information is useful as it can?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12862" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12862" type="radio" value="0"/>
      Be used for reference in future first aid needs assessments
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12862" type="radio" value="0"/>
      Prove useful for investigations
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12862" type="radio" value="0"/>
      Help to identify trends and control health and safety risks
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12862" type="radio" value="1"/>
      All of these answers
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    4
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What does AED stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12868" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12868" type="radio" value="0"/>
      Arrest Emergency Defibrillator
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12868" type="radio" value="1"/>
      Automated External Defibrillator
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12868" type="radio" value="0"/>
      Alert External Defibrillator
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12868" type="radio" value="0"/>
      Automatic Energy Defibrillator
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    5
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which word is missing? Under no circumstances should you perform abdominal thrusts on an _______.
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12866" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12866" type="radio" value="0"/>
      Adult
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12866" type="radio" value="0"/>
      Child
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12866" type="radio" value="1"/>
      Infant
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12866" type="radio" value="0"/>
      Teenager
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    6
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Always refer to your employer’s policy, procedures and forms. 
If you are unsure and need further clarity, you should do which of the 
following?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12865" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12865" type="radio" value="0"/>
      Ask the individual who you are caring for and supporting
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12865" type="radio" value="0"/>
      Stay quiet as you don't want to be a bother
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12865" type="radio" value="1"/>
      Speak to your manager
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12865" type="radio" value="0"/>
      Ask a new starter what they think
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    7
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     If an adult has an obstructed airway, which of the following is not an example of a sign they may show?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12867" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12867" type="radio" value="0"/>
      Difficulty in crying or making a noise
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12867" type="radio" value="0"/>
      Difficulty in breathing and speaking
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12867" type="radio" value="0"/>
      Grasping at the throat area
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12867" type="radio" value="1"/>
      Paleness of the face
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    8
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What does the acronym AVPU stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12869" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12869" type="radio" value="1"/>
      Alert, verbal, place, unresponsive
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12869" type="radio" value="0"/>
      Assistance, vaccination, pain, unrest
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12869" type="radio" value="0"/>
      Able, vein, peace, unable
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12869" type="radio" value="0"/>
      Attention, voice, polite, unacceptable
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    9
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following statements is false?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12875" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12875" type="radio" value="0"/>
      CPR is a potentially life-saving medical procedure
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12875" type="radio" value="1"/>
      CPR cannot be performed without rescue breaths
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12875" type="radio" value="0"/>
      CPR gives a person the best chance of survival following a cardiac arrest
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12875" type="radio" value="0"/>
      CPR is a combination of chest compressions with effective rescue breaths
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    10
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which word is missing? Before approaching the casualty, ensure the ­­­_______ of them, yourself and any bystanders.
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12871" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12871" type="radio" value="1"/>
      Safety
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12871" type="radio" value="0"/>
      Clarity
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12871" type="radio" value="0"/>
      Position
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12871" type="radio" value="0"/>
      State
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    11
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     In the acronym, DRABCD, what does the A stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12870" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12870" type="radio" value="0"/>
      Agonal
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12870" type="radio" value="0"/>
      Ask
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12870" type="radio" value="0"/>
      Alert
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12870" type="radio" value="1"/>
      Airways
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    12
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which word is missing? A heart attack is a circulation problem whereas a cardiac arrest is an ________ problem.
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12873" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12873" type="radio" value="0"/>
      External
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12873" type="radio" value="0"/>
      Oxygen
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12873" type="radio" value="1"/>
      Electrical
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12873" type="radio" value="0"/>
      Arterial
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    13
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     The BHF estimates there are more than 30,000 out-of-hospital 
cardiac arrests (OHCAs) in the UK each year. Even when resuscitation is 
attempted, the overall survival rate in the UK is just?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12872" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12872" type="radio" value="0"/>
      1 in 100
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12872" type="radio" value="0"/>
      1 in 20
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12872" type="radio" value="1"/>
      1 in 10
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12872" type="radio" value="0"/>
      1 in 1000
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    14
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Effective rescue breathing is also known as which of the following?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12874" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12874" type="radio" value="0"/>
      Artificial ventilation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12874" type="radio" value="0"/>
      Cardiomyopathy
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12874" type="radio" value="1"/>
      Expired air ventilation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12874" type="radio" value="0"/>
      Agonal breathing
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    15
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     If a child or infant has a complete obstruction, they may show which of the following signs?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12876" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12876" type="radio" value="0"/>
      Their skin colour may develop a blue/grey tinge
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12876" type="radio" value="0"/>
      They will get progressively weaker
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12876" type="radio" value="0"/>
      They may eventually become unconscious
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_144_12876" type="radio" value="1"/>
      All of these answers
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" disabled="disabled" name="next" style="float: right; display: none;" type="button" value="Finish Quiz"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" id="btn_check" name="check" style="float: right; margin-right: 10px; " type="button" value="Check"/>
  <div style="clear: both;">
  </div>
 </li>
</ol>

<script src="/static/check_quiz.js"></script>
{% endblock %}
