{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 9 – Awareness of Mental Health, Dementia and Learning Disabilities</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-155549">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/1" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/2" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/3" title="Introduction to mental health, dementia and learning disabilities">
<span>Introduction to mental health, dementia and learning disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/4" title="Facts and Statistics">
<span>Facts and Statistics</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/5" title="Key definitions">
<span>Key definitions</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/6" title="Key definitions">
<span>Key definitions</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/7" title="Key definitions">
<span>Key definitions</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/8" title="The Care Act 2014">
<span>The Care Act 2014</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/9" title="Human Rights Act 1998">
<span>Human Rights Act 1998</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/10" title="Mental Capacity Act 2005">
<span>Mental Capacity Act 2005</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/11" title="Mental Capacity Act - 5 key principles">
<span>Mental Capacity Act - 5 key principles</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/12" title="Mental Health Act 1983 (amended 2007)">
<span>Mental Health Act 1983 (amended 2007)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/13" title="Data Protection Act 2018">
<span>Data Protection Act 2018</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/14" title="The Safeguarding Vulnerable Groups Act 2006">
<span>The Safeguarding Vulnerable Groups Act 2006</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/15" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/16" title="Awareness of mental health conditions">
<span>Awareness of mental health conditions</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/17" title="Components of mental well-being">
<span>Components of mental well-being</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/18" title="Stress and mental health">
<span>Stress and mental health</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/19" title="Common mental health problems">
<span>Common mental health problems</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/20" title="Depression">
<span>Depression</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/21" title="Bipolar">
<span>Bipolar</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/22" title="Schizophrenia">
<span>Schizophrenia</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/23" title="Anxiety">
<span>Anxiety</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/24" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/25" title="Dementia awareness">
<span>Dementia awareness</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/26" title="What is dementia?">
<span>What is dementia?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/27" title="The types of dementia">
<span>The types of dementia</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/28" title="Alzheimer’s disease">
<span>Alzheimer’s disease</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/29" title="Vascular dementia">
<span>Vascular dementia</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/30" title="Frontotemporal dementia">
<span>Frontotemporal dementia</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/31" title="Dementia with Lewy bodies">
<span>Dementia with Lewy bodies</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/32" title="Dementia as a disability">
<span>Dementia as a disability</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/33" title="Living with dementia">
<span>Living with dementia</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/34" title="What are the behaviours an individual may experience?">
<span>What are the behaviours an individual may experience?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/35" title="What to remember">
<span>What to remember</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/36" title="Dementia prevention">
<span>Dementia prevention</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/37" title="Dementia prevention">
<span>Dementia prevention</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/38" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/39" title="Disability awareness">
<span>Disability awareness</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/40" title="The term ‘learning disability’">
<span>The term ‘learning disability’</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/41" title="The causes of learning disabilities">
<span>The causes of learning disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/42" title="The medical model">
<span>The medical model</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/43" title="The social model">
<span>The social model</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/44" title="The difference between the medical and social model">
<span>The difference between the medical and social model</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/45" title="Promoting communication with individuals with learning disabilities">
<span>Promoting communication with individuals with learning disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/46" title="Promoting communication with individuals with learning disabilities">
<span>Promoting communication with individuals with learning disabilities</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/47" title="Why individuals with disabilities may be at risk of abuse">
<span>Why individuals with disabilities may be at risk of abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/48" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/49" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/9/topic/50" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163975">
<div class="list-count">1</div>
<h4>
<a class="completed" href="/lms/care-certificate/unit/9/quiz">Care Certificate Standard 9 – Awareness of Mental Health, Dementia and Learning Disabilities Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="/lms/care-certificate/unit/8" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="/lms/care-certificate/unit/10" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}