{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 8 – Fluids and Nutrition</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-163595">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/introduction-521/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/learning-outcomes-12/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/introduction-to-fluids-and-nutrition/" title="Introduction to fluids and nutrition">
<span>Introduction to fluids and nutrition</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/importance-of-nutrition-and-hydration/" title="Importance of nutrition and hydration">
<span>Importance of nutrition and hydration</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/malnutrition-and-dehydration/" title="Malnutrition and dehydration">
<span>Malnutrition and dehydration</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/food-safety-legislation/" title="Food safety legislation">
<span>Food safety legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/importance-of-food-safety/" title="Importance of food safety">
<span>Importance of food safety</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/summary-reflection-34/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/food-safety/" title="Food Safety">
<span>Food Safety</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/harmful-substances-and-objects/" title="Harmful substances and objects">
<span>Harmful substances and objects</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/food-hazards/" title="Food hazards">
<span>Food hazards</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/physical-hazards-9/" title="Physical hazards">
<span>Physical hazards</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/chemical-hazards-8/" title="Chemical hazards">
<span>Chemical hazards</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/allergenic-hazards-4/" title="Allergenic hazards">
<span>Allergenic hazards</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/allergens-3/" title="Allergens">
<span>Allergens</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/anaphylaxis-4/" title="Anaphylaxis">
<span>Anaphylaxis</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/bacterial-hazards/" title="Bacterial hazards">
<span>Bacterial hazards</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/vulnerable-groups-2/" title="Vulnerable groups">
<span>Vulnerable groups</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/preparing-food-safely-5/" title="Preparing food safely">
<span>Preparing food safely</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/basic-principles-jewellery-and-handwashing/" title="Basic principles – jewellery and handwashing">
<span>Basic principles – jewellery and handwashing</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/basic-principles-washing-equipment-and-cooking/" title="Basic principles – washing equipment and cooking">
<span>Basic principles – washing equipment and cooking</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/basic-principles-storing-food/" title="Basic principles – storing food">
<span>Basic principles – storing food</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/basic-principles-preparing-food-and-washing-equipment/" title="Basic principles – preparing food and washing equipment">
<span>Basic principles – preparing food and washing equipment</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/summary-reflection-35/" title="Summary/ Reflection">
<span>Summary/ Reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/introduction-to-nutrition-and-hydration-for-wellbeing-introduction/" title="Introduction to nutrition and hydration for wellbeing Introduction">
<span>Introduction to nutrition and hydration for wellbeing Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/healthy-and-balanced-diet/" title="Healthy and balanced diet">
<span>Healthy and balanced diet</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/carbohydrates/" title="Carbohydrates">
<span>Carbohydrates</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/vitamins-and-minerals/" title="Vitamins and minerals">
<span>Vitamins and minerals</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/fibre-and-protein/" title="Fibre and protein">
<span>Fibre and protein</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/the-eatwell-guide/" title="The Eatwell Guide">
<span>The Eatwell Guide</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/the-eatwell-guide-healthy-balanced-diet/" title="The Eatwell Guide – healthy balanced diet">
<span>The Eatwell Guide – healthy balanced diet</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/importance-of-fluids/" title="Importance of fluids">
<span>Importance of fluids</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/fluid-intake/" title="Fluid intake">
<span>Fluid intake</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/type-of-fluids/" title="Type of fluids">
<span>Type of fluids</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/dehydration-signs-and-symptoms/" title="Dehydration signs and symptoms">
<span>Dehydration signs and symptoms</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/ongoing-dehydration/" title="Ongoing dehydration">
<span>Ongoing dehydration</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/poor-nutrition/" title="Poor nutrition">
<span>Poor nutrition</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/signs-and-symptoms-of-malnutrition/" title="Signs and symptoms of malnutrition">
<span>Signs and symptoms of malnutrition</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/summary-reflection-36/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/promoting-nutrition-and-hydration/" title="Promoting nutrition and hydration">
<span>Promoting nutrition and hydration</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/assessing-nutrition-and-hydration-needs/" title="Assessing nutrition and hydration needs">
<span>Assessing nutrition and hydration needs</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/providing-nutrition-and-hydration-in-person-centred-ways/" title="Providing nutrition and hydration in person-centred ways">
<span>Providing nutrition and hydration in person-centred ways</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/beliefs-or-preferences/" title="Beliefs or preferences">
<span>Beliefs or preferences</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/health-conditions-or-medication/" title="Health conditions or medication">
<span>Health conditions or medication</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/supporting-individuals-to-eat-and-drink/" title="Supporting individuals to eat and drink">
<span>Supporting individuals to eat and drink</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/equipment-to-support-eating-and-drinking/" title="Equipment to support eating and drinking">
<span>Equipment to support eating and drinking</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/dignity-respect-and-raising-concerns/" title="Dignity, respect and raising concerns">
<span>Dignity, respect and raising concerns</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/additional-support-3/" title="Additional support">
<span>Additional support</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/supporting-individuals-and-their-care-plan-2/" title="Supporting individuals and their care plan">
<span>Supporting individuals and their care plan</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/topic/supporting-good-hydration/" title="Supporting good hydration">
<span>Supporting good hydration</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-164092">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/quiz/care-certificate-standard-8-fluids-and-nutrition-quiz/">Care Certificate Standard 8 – Fluids and Nutrition Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-7-privacy-and-dignity/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}