{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 15 – Infection Prevention and Control</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-156443">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/introduction-535/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/learning-outcomes-8/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-introduction-to-infection-control/" title="Introduction to infection control">
<span>Introduction to infection control</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/what-are-infections-2/" title="What are infections?">
<span>What are infections?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/types-of-infection-2/" title="Types of infection">
<span>Types of infection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/bacterial-infections-3/" title="Bacterial infections">
<span>Bacterial infections</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/bacterial-infections-4/" title="Bacterial infections">
<span>Bacterial infections</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/viral-infections-3/" title="Viral infections">
<span>Viral infections</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/viral-infections-4/" title="Viral infections">
<span>Viral infections</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/fungal-infections-3/" title="Fungal infections">
<span>Fungal infections</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/fungal-infections-4/" title="Fungal infections">
<span>Fungal infections</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/the-spread-of-infection-2/" title="The spread of infection">
<span>The spread of infection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/ideal-conditions-for-bacterial-growth-3/" title="Ideal conditions for bacterial growth">
<span>Ideal conditions for bacterial growth</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/what-are-the-consequences-of-infection-2/" title="What are the consequences of infection?">
<span>What are the consequences of infection?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/what-is-asepsis-2/" title="What is asepsis?">
<span>What is asepsis?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/general-recommendations-for-creating-a-safe-environment-2/" title="General recommendations for creating a safe environment">
<span>General recommendations for creating a safe environment</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-summary-reflection/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-how-infections-are-spread/" title="How infections are spread">
<span>How infections are spread</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/chain-of-infection-2/" title="Chain of infection">
<span>Chain of infection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/routes-of-entry-and-exit-transmission-2/" title="Routes of entry and exit – transmission">
<span>Routes of entry and exit – transmission</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/direct-transmission-2/" title="Direct transmission">
<span>Direct transmission</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/indirect-transmission-3/" title="Indirect transmission">
<span>Indirect transmission</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/indirect-transmission-4/" title="Indirect transmission">
<span>Indirect transmission</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/those-most-at-risk-from-infection-2/" title="Those most at risk from infection">
<span>Those most at risk from infection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/breaking-the-chain-of-infection-3/" title="Breaking the chain of infection">
<span>Breaking the chain of infection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/breaking-the-chain-of-infection-4/" title="Breaking the chain of infection">
<span>Breaking the chain of infection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-summary-reflection-2/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-infection-control-measures/" title="Infection control measures">
<span>Infection control measures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/what-are-microorganisms-2/" title="What are microorganisms?">
<span>What are microorganisms?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/how-can-we-prevent-exposure-to-microorganisms-2/" title="How can we prevent exposure to microorganisms?">
<span>How can we prevent exposure to microorganisms?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/basic-hygiene-procedures-including-handwashing-2/" title="Basic hygiene procedures including handwashing">
<span>Basic hygiene procedures including handwashing</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/basic-hygiene-procedures-such-as-washing-hands-3/" title="Basic hygiene procedures such as washing hands">
<span>Basic hygiene procedures such as washing hands</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/effective-cleaning-procedures-2/" title="Effective cleaning procedures">
<span>Effective cleaning procedures</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/dealing-with-spillages-3/" title="Dealing with spillages">
<span>Dealing with spillages</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/after-a-spillage-has-been-cleaned-up-2/" title="After a spillage has been cleaned up">
<span>After a spillage has been cleaned up</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/effective-use-of-personal-protective-equipment-ppe-2/" title="Effective use of personal protective equipment (PPE)">
<span>Effective use of personal protective equipment (PPE)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/using-ppe-4/" title="Using PPE">
<span>Using PPE</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/effective-waste-disposal-2/" title="Effective waste disposal">
<span>Effective waste disposal</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/what-is-clinical-waste-3/" title="What is clinical waste?">
<span>What is clinical waste?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/the-separation-of-waste-in-line-with-regulations-and-legislation-3/" title="The separation of waste in line with regulations and legislation">
<span>The separation of waste in line with regulations and legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/the-separation-of-waste-in-line-with-regulations-and-legislation-4/" title="The separation of waste in line with regulations and legislation">
<span>The separation of waste in line with regulations and legislation</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/disposing-of-sharps-3/" title="Disposing of sharps">
<span>Disposing of sharps</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/disposing-of-sharps-in-other-settings-sharps-bins-3/" title="Disposing of sharps in other settings – sharps bins">
<span>Disposing of sharps in other settings – sharps bins</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-summary-reflection-3/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/1-assessing-and-reporting-breaches/" title="Assessing and reporting breaches">
<span>Assessing and reporting breaches</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/healthcare-associated-infections-hcai-2/" title="Healthcare Associated Infections (HCAI)">
<span>Healthcare Associated Infections (HCAI)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/examples-of-hcais-2/" title="Examples of HCAIs">
<span>Examples of HCAIs</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/statistics-about-hcais-2/" title="Statistics about HCAIs">
<span>Statistics about HCAIs</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/consequences-of-hcais-2/" title="Consequences of HCAIs">
<span>Consequences of HCAIs</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/topic/the-legal-requirements-associated-with-infection-control-2/" title="The legal requirements associated with infection control">
<span>The legal requirements associated with infection control</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163983">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/quiz/care-certificate-standard-15-infection-prevention-and-control-quiz/">Care Certificate Standard 15 – Infection Prevention and Control Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> </p>
{% endblock %}