
<link rel="stylesheet" href="/static/quiz.css">
{% extends 'care_certificate/quiz_layout.html' %}

{% block top_box %}
<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: center">Care Certificate Standard 15 – Infection Prevention and Control Quiz</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ffffff; font-size: 20px;">Now
 you can attempt the quiz for this course. You must achieve at least 12 
out of the 15 questions to pass but you can attempt the quiz as many 
times as you like. So if you don’t pass first time – don’t worry. You 
can go back to the lessons and reattempt the quiz again as many times as
 you need to pass.</span></p>
</div>
</div>
</div></div></div>
{% endblock %}

{% block audio %}
<div class="skin_default" id="skin_default">
<div class="h5ap_quick_player" data-options='{"controls":["play","progress","duration","mute","volume"],"seekTime":0}' style="width:px">
<audio autoplay="autoplay" class="player6421668e0378c" controls="controls" muted="muted" playsinline="" preload="auto">
<source src="/static/quiz_audio/61-mini-quiz.2_1.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
            </audio>
</div>
</div>
{% endblock %}

{% block result %}
<div class="wpProQuiz_results" id="result_div" style="display: none;">
 <h4 class="wpProQuiz_header">
  Results
 </h4>
 <p>
  <span class="wpProQuiz_correct_answer" id="correct_answers">
   5
  </span>
  of
  <span>
   15
  </span>
  Questions answered correctly
 </p>
 <div>
  <ul class="wpProQuiz_resultsList">
   <li id="msg_failed" style="display: none;">
    <div>
     <p>
      You have failed the quiz. But don’t worry – you can go back to 
the lessons and then tackle this quiz again as many times as you need to
 pass.
     </p>
    </div>
   </li>
   <li id="msg_passed" style="display: none;">
    <div>
     <p>
      Well done on passing the final quiz!
     </p>
     <p>
      You have now completed all of the Care Certificate course and you can
 also download your certificate by going back to the main page for this 
course.
     </p>
    </div>
   </li>
  </ul>
 </div>
 <div class="ld-quiz-actions" style="margin: 10px 0px;">
  <input class="wpProQuiz_button wpProQuiz_button_restartQuiz" id="restart_quiz" name="restartQuiz" type="button" value="Restart Quiz"/>
 </div>
</div>

{% endblock %}

{% block quiz %}
<ol class="wpProQuiz_list">
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    1
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many steps are covered in a risk assessment?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12577" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12577" type="radio" value="0"/>
      3
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12577" type="radio" value="1"/>
      5
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12577" type="radio" value="0"/>
      4
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12577" type="radio" value="0"/>
      2
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    2
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many essential factors are involved in aseptic techniques?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12580" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12580" type="radio" value="1"/>
      6
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12580" type="radio" value="0"/>
      4
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12580" type="radio" value="0"/>
      5
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12580" type="radio" value="0"/>
      7
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    3
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What does HCAI stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12578" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12578" type="radio" value="1"/>
      Healthcare Associated Infections
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12578" type="radio" value="0"/>
      Healthcare Assignment Infections
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12578" type="radio" value="0"/>
      Help Care Associated Infections
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12578" type="radio" value="0"/>
      Healthcare Associated Information
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    4
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many main types of infections are there?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12579" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12579" type="radio" value="0"/>
      1
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12579" type="radio" value="0"/>
      2
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12579" type="radio" value="1"/>
      3
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12579" type="radio" value="0"/>
      5
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    5
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which one of these is a method to break a chain of infection?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12581" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12581" type="radio" value="0"/>
      Isolation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12581" type="radio" value="0"/>
      Hand Hygiene
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12581" type="radio" value="0"/>
      Immunisation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12581" type="radio" value="1"/>
      All of the answers
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    6
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following can be disposed of in a sharps bin?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12582" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12582" type="radio" value="1"/>
      Syringes
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12582" type="radio" value="0"/>
      Gloves
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12582" type="radio" value="0"/>
      Tissues
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12582" type="radio" value="0"/>
      None of the answers
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    7
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What does RIDDOR stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12583" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12583" type="radio" value="1"/>
      Reporting of Injuries, Disease and Dangerous Occurrences
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12583" type="radio" value="0"/>
      Relaxing of Injuries, Disease and Dangerous Occurrences
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12583" type="radio" value="0"/>
      Reporting of Injuries, Disease and Damaged Occurrences
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12583" type="radio" value="0"/>
      Reporting of information, Disease and Dangerous Occurrences
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    8
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How long should you wash your hands for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12585" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12585" type="radio" value="0"/>
      Around 15 seconds
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12585" type="radio" value="1"/>
      Around 20 seconds
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12585" type="radio" value="0"/>
      Around 5 seconds
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12585" type="radio" value="0"/>
      Around 10 seconds
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    9
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Employers are legally required to provide PPE to all employees?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12584" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12584" type="radio" value="0"/>
      False
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12584" type="radio" value="1"/>
      True
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    10
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Infection to an unborn baby via the placenta is an example of
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12590" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12590" type="radio" value="1"/>
      Direct transmission
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12590" type="radio" value="0"/>
      Neither
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12590" type="radio" value="0"/>
      It can be both depending on the microorganism
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12590" type="radio" value="0"/>
      Indirect transmission
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    11
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Who can get an infection?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12587" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12587" type="radio" value="0"/>
      Only individuals who have an existing condition
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12587" type="radio" value="0"/>
      Only individuals who have had infections previously
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12587" type="radio" value="0"/>
      Only people in certain areas of the world
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12587" type="radio" value="1"/>
      Anyone
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    12
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What does WHO stand for?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12586" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12586" type="radio" value="0"/>
      World Happiness Organisation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12586" type="radio" value="1"/>
      World Health Organisation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12586" type="radio" value="0"/>
      None of the answers
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12586" type="radio" value="0"/>
      Weekend Health Organisation
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    13
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What is normal human body temperature in degrees Celsius
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12589" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12589" type="radio" value="0"/>
      35
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12589" type="radio" value="1"/>
      37
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12589" type="radio" value="0"/>
      39
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12589" type="radio" value="0"/>
      33
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    14
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many links are there in the chain of infection?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12588" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12588" type="radio" value="0"/>
      5
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12588" type="radio" value="1"/>
      6
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12588" type="radio" value="0"/>
      4
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12588" type="radio" value="0"/>
      7
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    15
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What is a chronic illness?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12591" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12591" type="radio" value="1"/>
      One that is long-term
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12591" type="radio" value="0"/>
      One that causes death
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12591" type="radio" value="0"/>
      One that is short-term
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_141_12591" type="radio" value="0"/>
      One that is very serious
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" disabled="disabled" name="next" style="float: right; display: none;" type="button" value="Finish Quiz"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" id="btn_check" name="check" style="float: right; margin-right: 10px; " type="button" value="Check"/>
  <div style="clear: both;">
  </div>
 </li>
</ol>

<script src="/static/check_quiz.js"></script>
{% endblock %}
