{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 1 – Understanding Your Role</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-151805">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/1" title="Introduction to the Care Certificate">
<span>Introduction to the Care Certificate</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/2" title="Introduction to the standards">
<span>Introduction to the standards</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/3" title="Your role, including tasks, behaviours and standards of work">
<span>Your role, including tasks, behaviours and standards of work</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/4" title="Job description">
<span>Job description</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/5" title="Job description – key duties">
<span>Job description – key duties</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/6" title="Job description – key duties">
<span>Job description – key duties</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/7" title="Competence">
<span>Competence</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/8" title="Standards, codes of conduct and practice">
<span>Standards, codes of conduct and practice</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/9" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/10" title="Experiences, attitudes, beliefs, values, aims and objectives">
<span>Experiences, attitudes, beliefs, values, aims and objectives</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/11" title="Experiences, attitudes and beliefs">
<span>Experiences, attitudes and beliefs</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/12" title="Importance of attitudes and beliefs">
<span>Importance of attitudes and beliefs</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/13" title="Values, aims, objectives">
<span>Values, aims, objectives</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/14" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/15" title="Your rights and responsibilities at work">
<span>Your rights and responsibilities at work</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/16" title="Relevant legislation">
<span>Relevant legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/17" title="Health and safety at work – employer responsibilities">
<span>Health and safety at work – employer responsibilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/18" title="Health and safety at work – employer responsibilities">
<span>Health and safety at work – employer responsibilities</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/19" title="Health and safety at work – employee responsibilities">
<span>Health and safety at work – employee responsibilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/20" title="Confidentiality – the Data Protection Act 2018">
<span>Confidentiality – the Data Protection Act 2018</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/21" title="Confidentiality – the data protection principles">
<span>Confidentiality – the data protection principles</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/22" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/23" title="Equality, agreed ways of working and reporting">
<span>Equality, agreed ways of working and reporting</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/24" title="The Equality Act 2010">
<span>The Equality Act 2010</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/25" title="Working conditions">
<span>Working conditions</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/26" title="Agreed ways of working">
<span>Agreed ways of working</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/27" title="Responsibilities to individuals you support">
<span>Responsibilities to individuals you support</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/28" title="Reporting errors">
<span>Reporting errors</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/29" title="Whistleblowing">
<span>Whistleblowing</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/30" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/31" title="Working in partnership">
<span>Working in partnership</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/32" title="Partnership working">
<span>Partnership working</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/33" title="Working with individuals">
<span>Working with individuals</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/34" title="Working with other workers">
<span>Working with other workers</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/35" title="Working relationships">
<span>Working relationships</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/36" title="Advocates">
<span>Advocates</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/37" title="Effective partnership working">
<span>Effective partnership working</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/38" title="Effective partnership working – communication">
<span>Effective partnership working – communication</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/39" title="Effective partnership working">
<span>Effective partnership working</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/40" title="Advice and support">
<span>Advice and support</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/41" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/1/topic/42" title="Summary of Care Certificate Standard 1">
<span>Summary of Care Certificate Standard 1</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-155110">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-1-understanding-your-role/quiz/care-certificate-1-understanding-your-role-quiz/">Care Certificate Standard 1 - Understanding Your Role Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}