{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 2 – Your Personal Development</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-153863">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/care-certificate-standard-2-your-personal-development/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/introduction-12345678duplicate/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/what-you-will-look-at/" title="What you will look at">
<span>What you will look at</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/personal-development/" title="Personal development">
<span>Personal development</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/the-care-certificate-and-your-pdp/" title="The Care Certificate and your PDP">
<span>The Care Certificate and your PDP</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/creating-and-reviewing-your-pdp/" title="Creating and reviewing your PDP">
<span>Creating and reviewing your PDP</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/skills-knowledge-and-competence/" title="Skills, knowledge and competence">
<span>Skills, knowledge and competence</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/developing-knowledge-and-skills/" title="Developing knowledge and skills">
<span>Developing knowledge and skills</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/contributing-to-your-pdp/" title="Contributing to your PDP">
<span>Contributing to your PDP</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/summary-reflection-6/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/supervision-appraisals-and-objectives/" title="Supervision, appraisals and objectives">
<span>Supervision, appraisals and objectives</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/supervision-4/" title="Supervision">
<span>Supervision</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/appraisals/" title="Appraisals">
<span>Appraisals</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/agreeing-your-objectives/" title="Agreeing your objectives">
<span>Agreeing your objectives</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/step-1-agreeing-your-aims-and-objectives/" title="Step 1 – Agreeing your aims and objectives">
<span>Step 1 – Agreeing your aims and objectives</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/step-2-planning-your-activities-to-meet-your-objectives/" title="Step 2 – Planning your activities to meet your objectives">
<span>Step 2 – Planning your activities to meet your objectives</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/step-3-setting-timescales-to-achieve-outcomes-and-review/" title="Step 3 – Setting timescales to achieve outcomes and review">
<span>Step 3 – Setting timescales to achieve outcomes and review</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/step-4-outcome/" title="Step 4 – Outcome">
<span>Step 4 – Outcome</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/summary-reflection-7/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/developing-core-skills/" title="Developing core skills">
<span>Developing core skills</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/core-skills/" title="Core skills">
<span>Core skills</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/core-skills-2/" title="Core skills">
<span>Core skills</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/checking-and-developing-core-skills/" title="Checking and developing core skills">
<span>Checking and developing core skills</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/summary-reflection-8/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/learning-and-development-2/" title="Learning and development">
<span>Learning and development</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/learning-and-development/" title="Learning and development">
<span>Learning and development</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/blended-learning/" title="Blended learning">
<span>Blended learning</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/resources-for-learning/" title="Resources for learning">
<span>Resources for learning</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/types-of-learning/" title="Types of learning">
<span>Types of learning</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/reflection/" title="Reflection">
<span>Reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/receiving-feedback/" title="Receiving feedback">
<span>Receiving feedback</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/informal-and-formal-feedback/" title="Informal and formal feedback">
<span>Informal and formal feedback</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/beneficial-feedback/" title="Beneficial feedback">
<span>Beneficial feedback</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/summary-reflection-9/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/continuing-professional-development-cpd/" title="Continuing Professional Development (CPD)">
<span>Continuing Professional Development (CPD)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/workplace-induction/" title="Workplace induction">
<span>Workplace induction</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/the-care-certificate/" title="The Care Certificate">
<span>The Care Certificate</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/the-care-certificate-workbooks/" title="The Care Certificate workbooks">
<span>The Care Certificate workbooks</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/developing-skills-and-requiring-support/" title="Developing skills and requiring support">
<span>Developing skills and requiring support</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/continuing-your-learning/" title="Continuing your learning">
<span>Continuing your learning</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/training-13/" title="Training">
<span>Training</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/summary-reflection-10/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/topic/summary-of-care-certificate-standard-2/" title="Summary of Care Certificate Standard 2">
<span>Summary of Care Certificate Standard 2</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163952">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-2-your-personal-development/quiz/care-certificate-2-personal-development-quiz/">Care Certificate Standard 2 - Personal Development Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-1-understanding-your-role/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-3-duty-of-care/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}