{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 3 – Duty of Care</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-154505">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/1" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/2" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/3" title="Duty of care">
<span>Duty of care</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/4" title="Duty of care">
<span>Duty of care</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/5" title="Duty of care to others">
<span>Duty of care to others</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/6" title="Code of Conduct">
<span>Code of Conduct</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/7" title="Reporting concerns">
<span>Reporting concerns</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/8" title="Duty of care and agreed ways">
<span>Duty of care and agreed ways</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/9" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/10" title="Supporting independence">
<span>Supporting independence</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/11" title="Roles and responsibilities">
<span>Roles and responsibilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/12" title="Individuals' rights to make choices">
<span>Individuals' rights to make choices</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/13" title="Dilemmas">
<span>Dilemmas</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/14" title="Risk assessments and support">
<span>Risk assessments and support</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/15" title="Advocates">
<span>Advocates</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/16" title="Supporting individuals in decision-making">
<span>Supporting individuals in decision-making</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/17" title="Mental capacity">
<span>Mental capacity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/18" title="The Mental Capacity Act">
<span>The Mental Capacity Act</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/19" title="Temporary lack of capacity">
<span>Temporary lack of capacity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/20" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/21" title="Dealing with complaints, concerns and comments">
<span>Dealing with complaints, concerns and comments</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/22" title="Individual rights to complain or comment">
<span>Individual rights to complain or comment</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/23" title="Additional support">
<span>Additional support</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/24" title="Complaints handling">
<span>Complaints handling</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/25" title="Complaints and agreed ways of working">
<span>Complaints and agreed ways of working</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/26" title="Responding to a complaint">
<span>Responding to a complaint</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/27" title="Patient Advice and Liaison Service (PALS)">
<span>Patient Advice and Liaison Service (PALS)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/28" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/29" title="Incidents, errors and near misses">
<span>Incidents, errors and near misses</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/30" title="Mistakes">
<span>Mistakes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/31" title="Types of mistakes">
<span>Types of mistakes</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/32" title="Actions to take">
<span>Actions to take</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/33" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/34" title="Legislation">
<span>Legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/35" title="Relevant legislation">
<span>Relevant legislation</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/36" title="The Health and Safety at Work etc. Act 1974">
<span>The Health and Safety at Work etc. Act 1974</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/37" title="The Management of Health and Safety at Work Regulations 1999">
<span>The Management of Health and Safety at Work Regulations 1999</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/38" title="The Reporting of Injuries, Diseases and Dangerous Occurrences Regulations 2013 (RIDDOR)">
<span>The Reporting of Injuries, Diseases and Dangerous Occurrences Regulations 2013 (RIDDOR)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/39" title="The Control of Substances Hazardous to Health Regulations 2002 (COSHH)">
<span>The Control of Substances Hazardous to Health Regulations 2002 (COSHH)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/40" title="The Provision and Use of Work Equipment Regulations 1998 (PUWER)">
<span>The Provision and Use of Work Equipment Regulations 1998 (PUWER)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/41" title="Enforcement">
<span>Enforcement</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/42" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/43" title="Managing conflict in the workplace">
<span>Managing conflict in the workplace</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/44" title="Care and compassion">
<span>Care and compassion</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/45" title="Causes of conflict">
<span>Causes of conflict</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/46" title="Policies and incident forms">
<span>Policies and incident forms</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/47" title="Managing conflict">
<span>Managing conflict</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/48" title="Knowing and working with individuals">
<span>Knowing and working with individuals</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/49" title="Using and developing skills">
<span>Using and developing skills</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/3/topic/50" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163954">
<div class="list-count">1</div>
<h4>
<a class="completed" href="/lms/care-certificate/unit/3/quiz">Care Certificate Standard 3 - Duty of Care Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="/lms/care-certificate/unit/2" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="/lms/care-certificate/unit/4" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}