{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 14 – Handling information</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-164136">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/care-certificate-standard-14-handling-information/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/care-certificate-standard-14-learning-outcomes/" title="Learning Outcomes">
<span>Learning Outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/introduction-to-care-certificate-12/" title="Confidentiality">
<span>Confidentiality</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/respecting-confidentiality/" title="Respecting confidentiality">
<span>Respecting confidentiality</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/sharing-information-5/" title="Sharing information">
<span>Sharing information</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/safeguarding-information/" title="Safeguarding information">
<span>Safeguarding information</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/social-media-and-confidentiality/" title="Social media and confidentiality">
<span>Social media and confidentiality</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/confidentiality-breaches/" title="Confidentiality breaches">
<span>Confidentiality breaches</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/agreed-ways-of-working-2/" title="Agreed ways of working">
<span>Agreed ways of working</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-caldicott-principles/" title="The Caldicott Principles">
<span>The Caldicott Principles</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-eight-caldicott-principles/" title="The eight Caldicott Principles">
<span>The eight Caldicott Principles</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-caldicott-principles-1-2/" title="The Caldicott Principles 1 &amp; 2">
<span>The Caldicott Principles 1 &amp; 2</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-caldicott-principles-3-4/" title="The Caldicott Principles 3 &amp; 4">
<span>The Caldicott Principles 3 &amp; 4</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-caldicott-principles-5-6/" title="The Caldicott Principles 5 &amp; 6">
<span>The Caldicott Principles 5 &amp; 6</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-caldicott-principles-7-8/" title="The Caldicott Principles 7 &amp; 8">
<span>The Caldicott Principles 7 &amp; 8</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/summary-reflection-care-cert-14/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/introduction-to-the-care-certificate-3/" title="Legislation">
<span>Legislation</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/protection-of-information-legislation-2/" title="Protection of information legislation">
<span>Protection of information legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-data-protection-act-and-gdpr/" title="The Data Protection Act and GDPR">
<span>The Data Protection Act and GDPR</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/data-protection-4/" title="Data protection">
<span>Data protection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/personal-data/" title="Personal data">
<span>Personal data</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/sensitive-data/" title="Sensitive data">
<span>Sensitive data</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/individuals-rights-2/" title="Individuals' rights">
<span>Individuals' rights</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/data-protection-principles/" title="Data protection principles">
<span>Data protection principles</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/who-is-responsible-for-data-protection/" title="Who is responsible for data protection?">
<span>Who is responsible for data protection?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/the-freedom-of-information-act-2000/" title="The Freedom of Information Act 2000">
<span>The Freedom of Information Act 2000</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/rights-to-information/" title="Rights to information">
<span>Rights to information</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/summary-reflection-43/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/handling-information/" title="Handling information">
<span>Handling information</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/security-measures-2/" title="Security measures">
<span>Security measures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/digital-working/" title="Digital working">
<span>Digital working</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/care-plans-2/" title="Care plans">
<span>Care plans</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/completing-and-checking-care-plans/" title="Completing and checking care plans">
<span>Completing and checking care plans</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/summary-reflection-44/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/reporting-concerns-5/" title="Reporting Concerns">
<span>Reporting Concerns</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/confidentiality-concerns/" title="Confidentiality concerns">
<span>Confidentiality concerns</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/reporting-concerns-internally/" title="Reporting concerns internally">
<span>Reporting concerns internally</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/reporting-concerns-externally/" title="Reporting concerns externally">
<span>Reporting concerns externally</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/summary-reflection-45/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/topic/final-summary/" title="Summary of Care Certificate Standard 14">
<span>Summary of Care Certificate Standard 14</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-165094">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-14-handling-information/quiz/care-certificate-standard-14-handling-information-quiz/">Care Certificate Standard 14 – Handling Information Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-13-health-and-safety/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-15-infection-prevention-and-control/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}