{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard  10 – Safeguarding Vulnerable Adults</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-155645">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/introduction-532/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/learning-outcomes-5/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/introduction-to-safeguarding-vulnerable-adults/" title="Introduction to safeguarding vulnerable adults">
<span>Introduction to safeguarding vulnerable adults</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/what-is-a-vulnerable-adult-2/" title="What is a vulnerable adult?">
<span>What is a vulnerable adult?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/what-factors-increase-an-adults-vulnerability-3/" title="What factors increase an adult’s vulnerability?">
<span>What factors increase an adult’s vulnerability?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/what-factors-increase-an-adults-vulnerability-4/" title="What factors increase an adult’s vulnerability?">
<span>What factors increase an adult’s vulnerability?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/what-is-safeguarding-4/" title="What is safeguarding?">
<span>What is safeguarding?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/who-is-responsible-for-safeguarding-2/" title="Who is responsible for safeguarding?">
<span>Who is responsible for safeguarding?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/duty-of-care-6/" title="Duty of care">
<span>Duty of care</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-care-act-2014-5/" title="The Care Act 2014">
<span>The Care Act 2014</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-equality-act-2010-12/" title="The Equality Act 2010">
<span>The Equality Act 2010</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-carers-act-2004-3/" title="The Carers Act 2004">
<span>The Carers Act 2004</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-safeguarding-vulnerable-groups-act-2006-4/" title="The Safeguarding Vulnerable Groups Act 2006">
<span>The Safeguarding Vulnerable Groups Act 2006</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-human-rights-act-1998-10/" title="The Human Rights Act 1998">
<span>The Human Rights Act 1998</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-mental-capacity-act-2005-9/" title="The Mental Capacity Act 2005">
<span>The Mental Capacity Act 2005</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-health-and-social-care-act-2012-3/" title="The Health and Social Care Act (2012)">
<span>The Health and Social Care Act (2012)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/no-secrets-2002-and-public-interest-disclosure-act-1998/" title="No Secrets (2002) and Public Interest Disclosure Act (1998)">
<span>No Secrets (2002) and Public Interest Disclosure Act (1998)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/summary-reflection-8-2/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/risk-factors-100/" title="Risk factors">
<span>Risk factors</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/who-is-most-at-risk-of-abuse-2/" title="Who is most at risk of abuse?">
<span>Who is most at risk of abuse?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/age-4/" title="Age">
<span>Age</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/health-2/" title="Health">
<span>Health</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/problems-with-substance-abuse-2/" title="Problems with substance abuse">
<span>Problems with substance abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/disability-4/" title="Disability">
<span>Disability</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/isolation-7/" title="Isolation">
<span>Isolation</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/environment-3/" title="Environment">
<span>Environment</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-6-principles-of-adult-safeguarding/" title="The 6 principles of adult safeguarding">
<span>The 6 principles of adult safeguarding</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/the-6-principles-of-adult-safeguarding-2/" title="The 6 principles of adult safeguarding">
<span>The 6 principles of adult safeguarding</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/11-summary-reflection-9/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/1-types-of-abuse-2/" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/neglect-including-self-neglect-3/" title="Neglect (including self-neglect)">
<span>Neglect (including self-neglect)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/physical-abuse-3/" title="Physical abuse">
<span>Physical abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/emotional-abuse-4/" title="Emotional abuse">
<span>Emotional abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/sexual-abuse-3/" title="Sexual abuse">
<span>Sexual abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/domestic-abuse-3/" title="Domestic abuse">
<span>Domestic abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/financial-abuse-4/" title="Financial abuse">
<span>Financial abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/institutional-abuse-3/" title="Institutional abuse">
<span>Institutional abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/bullying-4/" title="Bullying">
<span>Bullying</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/modern-slavery-3/" title="Modern slavery">
<span>Modern slavery</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/discrimination-4/" title="Discrimination">
<span>Discrimination</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/11-summary-reflection-10/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/1-disclosures/" title="Disclosures">
<span>Disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/verbal-disclosures-2/" title="Verbal disclosures">
<span>Verbal disclosures</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/responding-to-disclosures-3/" title="Responding to disclosures">
<span>Responding to disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/confidentiality-4/" title="Confidentiality">
<span>Confidentiality</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/checking-existing-reports-3/" title="Checking existing reports">
<span>Checking existing reports</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/how-should-key-information-be-recorded-2/" title="How should key information be recorded?">
<span>How should key information be recorded?</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/reporting-recording-and-referring-information-and-preserving-evidence-2/" title="Reporting, recording and referring information and preserving evidence">
<span>Reporting, recording and referring information and preserving evidence</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/case-study-kim-and-louise-2/" title="Case study Kim and Louise">
<span>Case study Kim and Louise</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/topic/case-study-kim-and-louise-3/" title="Case study Kim and Louise">
<span>Case study Kim and Louise</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163978">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/quiz/care-certificate-standard-10-safeguarding-vulnerable-adults-quiz/">Care Certificate Standard 10 – Safeguarding Vulnerable Adults Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}