
<link rel="stylesheet" href="/static/quiz.css">
{% extends 'care_certificate/quiz_layout.html' %}

{% block top_box %}
<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: center">Care Certificate Standard 14 – Handling Information Quiz</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ffffff; font-size: 20px;">Now
 you can attempt the quiz for this course. You must achieve at least 12 
out of the 15 questions to pass but you can attempt the quiz as many 
times as you like. So if you don’t pass first time – don’t worry. You 
can go back to the lessons and reattempt the quiz again as many times as
 you need to pass.</span></p>
</div>
</div>
</div></div></div>
{% endblock %}

{% block audio %}
<div class="skin_default" id="skin_default">
<div class="h5ap_quick_player" data-options='{"controls":["play","progress","duration","mute","volume"],"seekTime":0}' style="width:px">
<audio autoplay="autoplay" class="player6421668b46963" controls="controls" muted="muted" playsinline="" preload="auto">
<source src="/static/quiz_audio/41-mini-quiz_1.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
            </audio>
</div>
</div>
{% endblock %}

{% block result %}
<div class="wpProQuiz_results" id="result_div" style="display: none;">
 <h4 class="wpProQuiz_header">
  Results
 </h4>
 <p>
  <span class="wpProQuiz_correct_answer" id="correct_answers">
   2
  </span>
  of
  <span>
   15
  </span>
  Questions answered correctly
 </p>
 <div>
  <ul class="wpProQuiz_resultsList">
   <li id="msg_failed" style="display: none;">
    <div>
     <p>
      You have failed the quiz. But don’t worry – you can go back to 
the lessons and then tackle this quiz again as many times as you need to
 pass.
     </p>
    </div>
   </li>
   <li id="msg_passed" style="display: none;">
    <div>
     <p>
      Well done on passing the quiz!
     </p>
     <p>
      You have now completed the Care Certificate 14 quiz! You can now move onto the final Care Certificate section.
     </p>
    </div>
   </li>
  </ul>
 </div>
 <div class="ld-quiz-actions" style="margin: 10px 0px;">
  <input class="wpProQuiz_button wpProQuiz_button_restartQuiz" id="restart_quiz" name="restartQuiz" type="button" value="Restart Quiz"/>
 </div>
</div>

{% endblock %}

{% block quiz %}
<ol class="wpProQuiz_list">
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    1
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Respecting confidentiality is…
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12877" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12877" type="radio" value="0"/>
      Helpful in building relationships that are based on trust
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12877" type="radio" value="0"/>
      Essential to protect the individual
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12877" type="radio" value="1"/>
      All of these answers
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12877" type="radio" value="0"/>
      A legal requirement
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    2
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which one of the 6Cs gives you the confidence to do the right thing in difficult or challenging situations?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12880" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12880" type="radio" value="1"/>
      Courage
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12880" type="radio" value="0"/>
      Communication
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12880" type="radio" value="0"/>
      Compassion
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12880" type="radio" value="0"/>
      Care
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    3
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What must you do before sharing an individual’s information with others?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12878" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12878" type="radio" value="0"/>
      Tell their family first
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12878" type="radio" value="0"/>
      Talk to your family
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12878" type="radio" value="1"/>
      Gain their consent
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12878" type="radio" value="0"/>
      Talk about it on social media
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    4
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     If you have concerns about confidentiality, who should you report to first?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12881" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12881" type="radio" value="0"/>
      The individual's family
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12881" type="radio" value="0"/>
      A colleague
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12881" type="radio" value="0"/>
      The Care Quality Commission
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12881" type="radio" value="1"/>
      Your manager
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    5
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many Caldicott Principles are there?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12884" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12884" type="radio" value="0"/>
      5
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12884" type="radio" value="0"/>
      7
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12884" type="radio" value="0"/>
      6
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12884" type="radio" value="1"/>
      8
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    6
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is not classed as sensitive personal information?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12879" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12879" type="radio" value="1"/>
      Name
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12879" type="radio" value="0"/>
      Political opinions
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12879" type="radio" value="0"/>
      Ethnic background
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12879" type="radio" value="0"/>
      Race
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    7
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following increases the risks of confidentiality 
breaches, as it is easy to accidentally share information without 
thinking about the consequences?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12882" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12882" type="radio" value="0"/>
      Digital working
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12882" type="radio" value="0"/>
      Assistive technology
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12882" type="radio" value="1"/>
      Mobile technology
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12882" type="radio" value="0"/>
      Paper-based systems
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    8
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which one of the 6Cs is central to work within the social care 
and health sectors, and must always take account of the individual’s 
wellbeing needs?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12887" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12887" type="radio" value="0"/>
      Commitment
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12887" type="radio" value="0"/>
      Courage
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12887" type="radio" value="1"/>
      Care
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12887" type="radio" value="0"/>
      Competence
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    9
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Under the Freedom of Information Act 2000, if a public 
authority believes the information requested is covered by a qualified 
exemption or exception, it must apply which test?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12886" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12886" type="radio" value="0"/>
      Private interest
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12886" type="radio" value="0"/>
      Protection interest
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12886" type="radio" value="0"/>
      Processing interest
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12886" type="radio" value="1"/>
      Public interest
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    10
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following means the laws and government guidance on the legal rules that affect people in society?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12883" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12883" type="radio" value="0"/>
      Regulations
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12883" type="radio" value="0"/>
      Procedures
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12883" type="radio" value="1"/>
      Legislation
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12883" type="radio" value="0"/>
      Principles
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    11
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Your organisation’s policies and procedures are also known as which of the following?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12885" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12885" type="radio" value="1"/>
      Agreed ways of working
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12885" type="radio" value="0"/>
      Rules and regulations
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12885" type="radio" value="0"/>
      Management systems
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12885" type="radio" value="0"/>
      Legislation
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    12
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Information must only be shared on a need-to-know basis. Which of the following does this apply to?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12889" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12889" type="radio" value="1"/>
      A health and social care worker involved in an individual's care and support
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12889" type="radio" value="0"/>
      A health and social care worker not involved in an individual's care and support
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12889" type="radio" value="0"/>
      The individual's family, friends and neighbours
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12889" type="radio" value="0"/>
      Your family or friends
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    13
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     In the UK GDPR, how many data protection principles are there?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12888" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12888" type="radio" value="0"/>
      6
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12888" type="radio" value="0"/>
      5
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12888" type="radio" value="1"/>
      7
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12888" type="radio" value="0"/>
      8
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    14
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What word is missing? Paper records should be stored in locked 
cupboards or filing cabinets, and _________ information should always be
 password protected.
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12890" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12890" type="radio" value="1"/>
      Electronic
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12890" type="radio" value="0"/>
      Confidential
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12890" type="radio" value="0"/>
      Sensitive
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12890" type="radio" value="0"/>
      Personal
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    15
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is not an example of poor practice relating to confidentiality?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12891" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12891" type="radio" value="0"/>
      Personally identifiable information shared on social media
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12891" type="radio" value="0"/>
      Confidential files containing sensitive information left around
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12891" type="radio" value="0"/>
      A missing key to a cabinet or office that contains confidential files
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_146_12891" type="radio" value="1"/>
      Passwords not being shared with unauthorised people
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" disabled="disabled" name="next" style="float: right; display: none;" type="button" value="Finish Quiz"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" id="btn_check" name="check" style="float: right; margin-right: 10px; " type="button" value="Check"/>
  <div style="clear: both;">
  </div>
 </li>
</ol>

<script src="/static/check_quiz.js"></script>
{% endblock %}
