{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 9 – Awareness of Mental Health, Dementia and Learning Disabilities</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-155549">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/introduction-531/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/learning-outcomes-4/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/introduction-to-mental-health-dementia-and-learning-difficulties/" title="Introduction to mental health, dementia and learning disabilities">
<span>Introduction to mental health, dementia and learning disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/facts-and-statistics/" title="Facts and Statistics">
<span>Facts and Statistics</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/key-definitions-5/" title="Key definitions">
<span>Key definitions</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/key-definitions-6/" title="Key definitions">
<span>Key definitions</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/key-definitions-7/" title="Key definitions">
<span>Key definitions</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-care-act-2014-4/" title="The Care Act 2014">
<span>The Care Act 2014</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/human-rights-act-1998/" title="Human Rights Act 1998">
<span>Human Rights Act 1998</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/mental-capacity-act-2005/" title="Mental Capacity Act 2005">
<span>Mental Capacity Act 2005</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/mental-capacity-act-5-key-principles/" title="Mental Capacity Act - 5 key principles">
<span>Mental Capacity Act - 5 key principles</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/mental-health-act-1983-amended-2007-4/" title="Mental Health Act 1983 (amended 2007)">
<span>Mental Health Act 1983 (amended 2007)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/data-protection-act-2018/" title="Data Protection Act 2018">
<span>Data Protection Act 2018</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-safeguarding-vulnerable-groups-act-2006-3/" title="The Safeguarding Vulnerable Groups Act 2006">
<span>The Safeguarding Vulnerable Groups Act 2006</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/summary-reflection-33/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/awareness-of-mental-health-conditions/" title="Awareness of mental health conditions">
<span>Awareness of mental health conditions</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/components-of-mental-well-being-4/" title="Components of mental well-being">
<span>Components of mental well-being</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/stress-and-mental-health-2/" title="Stress and mental health">
<span>Stress and mental health</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/common-mental-health-problems/" title="Common mental health problems">
<span>Common mental health problems</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/depression-7/" title="Depression">
<span>Depression</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/bipolar/" title="Bipolar">
<span>Bipolar</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/schizophrenia-2/" title="Schizophrenia">
<span>Schizophrenia</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/anxiety-6/" title="Anxiety">
<span>Anxiety</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/11-summary-reflection-13/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/dementia-awareness/" title="Dementia awareness">
<span>Dementia awareness</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/what-is-dementia-2/" title="What is dementia?">
<span>What is dementia?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-types-of-dementia/" title="The types of dementia">
<span>The types of dementia</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/alzheimers-disease-2/" title="Alzheimer’s disease">
<span>Alzheimer’s disease</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/vascular-dementia-2/" title="Vascular dementia">
<span>Vascular dementia</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/frontotemporal-dementia-2/" title="Frontotemporal dementia">
<span>Frontotemporal dementia</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/dementia-with-lewy-bodies-2/" title="Dementia with Lewy bodies">
<span>Dementia with Lewy bodies</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/dementia-as-a-disability-2/" title="Dementia as a disability">
<span>Dementia as a disability</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/living-with-dementia/" title="Living with dementia">
<span>Living with dementia</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/what-are-the-behaviours-an-individual-may-experience-2/" title="What are the behaviours an individual may experience?">
<span>What are the behaviours an individual may experience?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/what-to-remember-2/" title="What to remember">
<span>What to remember</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/dementia-prevention/" title="Dementia prevention">
<span>Dementia prevention</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/dementia-prevention-2/" title="Dementia prevention">
<span>Dementia prevention</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/11-summary-reflection-14/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/disability-awareness/" title="Disability awareness">
<span>Disability awareness</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-term-learning-disability/" title="The term ‘learning disability’">
<span>The term ‘learning disability’</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-causes-of-learning-disabilities/" title="The causes of learning disabilities">
<span>The causes of learning disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-medical-model/" title="The medical model">
<span>The medical model</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-social-model/" title="The social model">
<span>The social model</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/the-difference-between-the-medical-and-social-model/" title="The difference between the medical and social model">
<span>The difference between the medical and social model</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/promoting-communication-with-individuals-with-learning-disabilities/" title="Promoting communication with individuals with learning disabilities">
<span>Promoting communication with individuals with learning disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/promoting-communication-with-individuals-with-learning-disabilities-2/" title="Promoting communication with individuals with learning disabilities">
<span>Promoting communication with individuals with learning disabilities</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/why-individuals-with-disabilities-may-be-at-risk-of-abuse/" title="Why individuals with disabilities may be at risk of abuse">
<span>Why individuals with disabilities may be at risk of abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/types-of-abuse-11/" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/types-of-abuse-12/" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/topic/11-summary-reflection-15/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163975">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities/quiz/care-certificate-standard-9-awareness-of-mental-health-dementia-and-learning-disabilities-quiz/">Care Certificate Standard 9 – Awareness of Mental Health, Dementia and Learning Disabilities Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-8-fluids-and-nutrition/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}