{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 11 – Safeguarding Vulnerable Children</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-155743">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/1" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/2" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/3" title="Introduction to Safeguarding Children">
<span>Introduction to Safeguarding Children</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/4" title="What is safeguarding?">
<span>What is safeguarding?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/5" title="Child protection in England">
<span>Child protection in England</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/6" title="Child protection in Northern Ireland">
<span>Child protection in Northern Ireland</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/7" title="Child protection in Wales">
<span>Child protection in Wales</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/8" title="Child protection in Scotland">
<span>Child protection in Scotland</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/9" title="Child abuse statistics">
<span>Child abuse statistics</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/10" title="Risk factors">
<span>Risk factors</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/11" title="Case study – Peter Connolly">
<span>Case study – Peter Connolly</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/12" title="Case study – Victoria Climbie">
<span>Case study – Victoria Climbie</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/13" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/14" title="Relevant Legislation">
<span>Relevant Legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/15" title="Legislation">
<span>Legislation</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/16" title="The Children Act 2004">
<span>The Children Act 2004</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/17" title="Equality Act (2010)">
<span>Equality Act (2010)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/18" title="Equality Act (2010)">
<span>Equality Act (2010)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/19" title="GDPR (2018)">
<span>GDPR (2018)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/20" title="Children and Families Act 2014">
<span>Children and Families Act 2014</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/21" title="The United Nations Convention on the Rights of the Child (1992)">
<span>The United Nations Convention on the Rights of the Child (1992)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/22" title="The Human Rights Act (1998)">
<span>The Human Rights Act (1998)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/23" title="Working Together to Safeguard Children (2018)">
<span>Working Together to Safeguard Children (2018)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/24" title="The Children and Social Work Act 2017">
<span>The Children and Social Work Act 2017</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/25" title="Children in need">
<span>Children in need</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/26" title="Significant harm">
<span>Significant harm</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/27" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/28" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/29" title="The definition of abuse">
<span>The definition of abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/30" title="Neglect (including self-neglect)">
<span>Neglect (including self-neglect)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/31" title="Physical abuse">
<span>Physical abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/32" title="Emotional abuse">
<span>Emotional abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/33" title="Sexual abuse">
<span>Sexual abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/34" title="Domestic abuse">
<span>Domestic abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/35" title="Bullying">
<span>Bullying</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/36" title="Munchausen syndrome by proxy (fabricated or induced illness – FII)">
<span>Munchausen syndrome by proxy (fabricated or induced illness – FII)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/37" title="Female genital mutilation (FGM)">
<span>Female genital mutilation (FGM)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/38" title="Who might be an abuser?">
<span>Who might be an abuser?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/39" title="Safeguarding children with disabilities">
<span>Safeguarding children with disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/40" title="Safeguards for children with disabilities">
<span>Safeguards for children with disabilities</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/41" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/42" title="Responding to abuse">
<span>Responding to abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/43" title="Responding to abuse">
<span>Responding to abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/44" title="Disclosures">
<span>Disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/45" title="Barriers to disclosure">
<span>Barriers to disclosure</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/46" title="Responding to disclosures">
<span>Responding to disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/47" title="Recording concerns and disclosures">
<span>Recording concerns and disclosures</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/48" title="Recording concerns and disclosures">
<span>Recording concerns and disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/49" title="Sharing information">
<span>Sharing information</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/11/topic/50" title="How to report a concern (also known as making a ‘safeguarding referral’)">
<span>How to report a concern (also known as making a ‘safeguarding referral’)</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163981">
<div class="list-count">1</div>
<h4>
<a class="completed" href="/lms/care-certificate/unit/11/quiz">Care Certificate Standard 11 – Safeguarding Vulnerable Children Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="/lms/care-certificate/unit/10" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="/lms/care-certificate/unit/12" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}