{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 11 – Safeguarding Vulnerable Children</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-155743">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/introduction-533/" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/learning-outcomes-6/" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/1-introduction-to-safeguarding-children/" title="Introduction to Safeguarding Children">
<span>Introduction to Safeguarding Children</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/what-is-safeguarding-5/" title="What is safeguarding?">
<span>What is safeguarding?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/child-protection-in-england-2/" title="Child protection in England">
<span>Child protection in England</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/child-protection-in-northern-ireland-3/" title="Child protection in Northern Ireland">
<span>Child protection in Northern Ireland</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/child-protection-in-wales-3/" title="Child protection in Wales">
<span>Child protection in Wales</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/child-protection-in-scotland-3/" title="Child protection in Scotland">
<span>Child protection in Scotland</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/child-abuse-statistics-3/" title="Child abuse statistics">
<span>Child abuse statistics</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/risk-factors-15/" title="Risk factors">
<span>Risk factors</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/case-study-peter-connolly-2/" title="Case study – Peter Connolly">
<span>Case study – Peter Connolly</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/case-study-victoria-climbie-2/" title="Case study – Victoria Climbie">
<span>Case study – Victoria Climbie</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/11-summary-reflection-4/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/1-relevant-legislation/" title="Relevant Legislation">
<span>Relevant Legislation</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/legislation-2/" title="Legislation">
<span>Legislation</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/the-children-act-2004-5/" title="The Children Act 2004">
<span>The Children Act 2004</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/equality-act-2010-7/" title="Equality Act (2010)">
<span>Equality Act (2010)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/equality-act-2010-8/" title="Equality Act (2010)">
<span>Equality Act (2010)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/gdpr-2018-2/" title="GDPR (2018)">
<span>GDPR (2018)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/children-and-families-act-2014-3/" title="Children and Families Act 2014">
<span>Children and Families Act 2014</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/the-united-nations-convention-on-the-rights-of-the-child-1992-3/" title="The United Nations Convention on the Rights of the Child (1992)">
<span>The United Nations Convention on the Rights of the Child (1992)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/the-human-rights-act-1998-11/" title="The Human Rights Act (1998)">
<span>The Human Rights Act (1998)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/working-together-to-safeguard-children-2018/" title="Working Together to Safeguard Children (2018)">
<span>Working Together to Safeguard Children (2018)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/the-children-and-social-work-act-2017-4/" title="The Children and Social Work Act 2017">
<span>The Children and Social Work Act 2017</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/children-in-need-2/" title="Children in need">
<span>Children in need</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/significant-harm-2/" title="Significant harm">
<span>Significant harm</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/11-summary-reflection-5/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/1-types-of-abuse/" title="Types of abuse">
<span>Types of abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/the-definition-of-abuse-5/" title="The definition of abuse">
<span>The definition of abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/neglect-including-self-neglect-4/" title="Neglect (including self-neglect)">
<span>Neglect (including self-neglect)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/physical-abuse-4/" title="Physical abuse">
<span>Physical abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/emotional-abuse-5/" title="Emotional abuse">
<span>Emotional abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/sexual-abuse-4/" title="Sexual abuse">
<span>Sexual abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/domestic-abuse-4/" title="Domestic abuse">
<span>Domestic abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/bullying-5/" title="Bullying">
<span>Bullying</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/munchausen-syndrome-by-proxy-fabricated-or-induced-illness-fii-2/" title="Munchausen syndrome by proxy (fabricated or induced illness – FII)">
<span>Munchausen syndrome by proxy (fabricated or induced illness – FII)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/female-genital-mutilation-fgm-2/" title="Female genital mutilation (FGM)">
<span>Female genital mutilation (FGM)</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/who-might-be-an-abuser-5/" title="Who might be an abuser?">
<span>Who might be an abuser?</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/safeguarding-children-with-disabilities-4/" title="Safeguarding children with disabilities">
<span>Safeguarding children with disabilities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/safeguards-for-children-with-disabilities-3/" title="Safeguards for children with disabilities">
<span>Safeguards for children with disabilities</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/11-summary-reflection-6/" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/1-responding-to-abuse/" title="Responding to abuse">
<span>Responding to abuse</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/responding-to-abuse-3/" title="Responding to abuse">
<span>Responding to abuse</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/disclosures-3/" title="Disclosures">
<span>Disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/barriers-to-disclosure-2/" title="Barriers to disclosure">
<span>Barriers to disclosure</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/responding-to-disclosures-4/" title="Responding to disclosures">
<span>Responding to disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/recording-concerns-and-disclosures-3/" title="Recording concerns and disclosures">
<span>Recording concerns and disclosures</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/recording-concerns-and-disclosures-4/" title="Recording concerns and disclosures">
<span>Recording concerns and disclosures</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/sharing-information-4/" title="Sharing information">
<span>Sharing information</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/topic/how-to-report-a-concern-also-known-as-making-a-safeguarding-referral-3/" title="How to report a concern (also known as making a ‘safeguarding referral’)">
<span>How to report a concern (also known as making a ‘safeguarding referral’)</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163981">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-11-safeguarding-vulnerable-children/quiz/care-certificate-standard-11-safeguarding-vulnerable-children-quiz/">Care Certificate Standard 11 – Safeguarding Vulnerable Children Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-10-safeguarding-vulnerable-adults/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-12-basic-life-support/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}