
<link rel="stylesheet" href="/static/quiz.css">
{% extends 'care_certificate/quiz_layout.html' %}

{% block top_box %}
<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: center">Care Certificate Standard 11 – Safeguarding Vulnerable Children Quiz</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ffffff; font-size: 20px;">Now
 you can attempt the quiz for this course. You must achieve at least 12 
out of the 15 questions to pass but you can attempt the quiz as many 
times as you like. So if you don’t pass first time – don’t worry. You 
can go back to the lessons and reattempt the quiz again as many times as
 you need to pass.</span></p>
</div>
</div>
</div></div></div>
{% endblock %}

{% block audio %}
<div class="skin_default" id="skin_default">
<div class="h5ap_quick_player" data-options='{"controls":["play","progress","duration","mute","volume"],"seekTime":0}' style="width:px">
<audio autoplay="autoplay" class="player642164b304ffa" controls="controls" muted="muted" playsinline="" preload="auto">
<source src="/static/quiz_audio/55-mini-quiz-online-audio-converter.com_.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
            </audio>
</div>
</div>
{% endblock %}

{% block result %}
<div class="wpProQuiz_results" id="result_div" style="display: none;">
 <h4 class="wpProQuiz_header">
  Results
 </h4>
 <p>
  <span class="wpProQuiz_correct_answer" id="correct_answers">
   1
  </span>
  of
  <span>
   15
  </span>
  Questions answered correctly
 </p>
 <div>
  <ul class="wpProQuiz_resultsList">
   <li id="msg_failed" style="display: none;">
    <div>
     <p>
      You have failed the quiz. But don’t worry – you can go back to 
the lessons and then tackle this quiz again as many times as you need to
 pass.
     </p>
    </div>
   </li>
   <li id="msg_passed" style="display: none;">
    <div>
     <p>
      Well done on passing the quiz!
     </p>
     <p>
      You have now completed this course and you can also download your certificate by going back to the main page for this course.
     </p>
    </div>
   </li>
  </ul>
 </div>
 <div class="ld-quiz-actions" style="margin: 10px 0px;">
  <input class="wpProQuiz_button wpProQuiz_button_restartQuiz" id="restart_quiz" name="restartQuiz" type="button" value="Restart Quiz"/>
 </div>
</div>

{% endblock %}

{% block quiz %}
<ol class="wpProQuiz_list">
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    1
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     If there is evidence of physical abuse on a child’s body, what can be used to identify where this is?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12547" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12547" type="radio" value="0"/>
      Mind map
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12547" type="radio" value="1"/>
      Body map
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12547" type="radio" value="0"/>
      Bullet list
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12547" type="radio" value="0"/>
      Mind diagram
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    2
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which piece of legislation defines safeguarding?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12550" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12550" type="radio" value="0"/>
      The Equality Act 2010
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12550" type="radio" value="1"/>
      The Care Act 2014
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12550" type="radio" value="0"/>
      The Human Rights Act 1998
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12550" type="radio" value="0"/>
      None of these
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    3
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which policy was introduced after the death of Victoria Climbie?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12553" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12553" type="radio" value="0"/>
      The Equality Act
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12553" type="radio" value="1"/>
      Every child matters
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12553" type="radio" value="0"/>
      Working together to safeguard children
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12553" type="radio" value="0"/>
      The children and social work act 2017
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    4
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Are children who have disabilities at increased risk of abuse?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12549" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12549" type="radio" value="1"/>
      Yes
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12549" type="radio" value="0"/>
      No
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    5
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many types of disclosure are there?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12548" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12548" type="radio" value="1"/>
      4
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12548" type="radio" value="0"/>
      3
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12548" type="radio" value="0"/>
      1
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12548" type="radio" value="0"/>
      2
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    6
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which one of the following makes a child more susceptible to abuse?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12552" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12552" type="radio" value="1"/>
      All of these answers
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12552" type="radio" value="0"/>
      Being in the care system
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12552" type="radio" value="0"/>
      Disability
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12552" type="radio" value="0"/>
      Isolation
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    7
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Does the person reporting the alleged abuse have to reveal their identity?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12558" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12558" type="radio" value="1"/>
      No
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12558" type="radio" value="0"/>
      Yes
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    8
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     How many children are thought to have experienced neglect?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12551" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12551" type="radio" value="1"/>
      1 in 10
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12551" type="radio" value="0"/>
      4 in 10
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12551" type="radio" value="0"/>
      5 in 10
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12551" type="radio" value="0"/>
      3 in 10
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    9
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of these is NOT a sign of emotional abuse?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12861" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12861" type="radio" value="0"/>
      Aggression towards others
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12861" type="radio" value="0"/>
      Severe anxiety
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12861" type="radio" value="1"/>
      Excitement
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12861" type="radio" value="0"/>
      Lack of confidence
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    10
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of these are reasons why children don’t report abuse?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12555" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12555" type="radio" value="1"/>
      They have been threatened
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12555" type="radio" value="0"/>
      They forget
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12555" type="radio" value="0"/>
      They don't like their teachers
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12555" type="radio" value="0"/>
      They don't like their GP
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    11
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is not a person to report a concern to?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12559" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12559" type="radio" value="0"/>
      Police officer
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12559" type="radio" value="0"/>
      Teacher
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12559" type="radio" value="1"/>
      Member of the general public
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12559" type="radio" value="0"/>
      GP
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    12
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Do designated safeguard leads only exist in education settings?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12557" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12557" type="radio" value="0"/>
      Yes
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12557" type="radio" value="1"/>
      No
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    13
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Who is responsible for child protection in England?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12561" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12561" type="radio" value="1"/>
      The Department of Education
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12561" type="radio" value="0"/>
      The Care Act 2014
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12561" type="radio" value="0"/>
      Local Authorities
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12561" type="radio" value="0"/>
      The Police
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    14
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     ‘Deliberate or inadvertent behaviour that indicates that something is wrong.’ is which type of disclosure?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12560" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12560" type="radio" value="0"/>
      Indirect
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12560" type="radio" value="1"/>
      Behavioural
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12560" type="radio" value="0"/>
      Direct
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12560" type="radio" value="0"/>
      Non-verbal
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    15
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is NOT an example of when it is appropriate to share information?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12556" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12556" type="radio" value="0"/>
      When a family will benefit from additional support
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12556" type="radio" value="0"/>
      When a court requires information to be shared
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12556" type="radio" value="0"/>
      When another agency has permission for information to be shared
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_139_12556" type="radio" value="1"/>
      When you have had enough of dealing with the information
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" disabled="disabled" name="next" style="float: right; display: none;" type="button" value="Finish Quiz"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" id="btn_check" name="check" style="float: right; margin-right: 10px; " type="button" value="Check"/>
  <div style="clear: both;">
  </div>
 </li>
</ol>

<script src="/static/check_quiz.js"></script>
{% endblock %}
