{% extends 'care_certificate/course_layout.html' %}
{% block wpb_wrapper %}
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: left">Care Certificate Standard 5 – Work in a Person-Centred Way</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p><span style="color: #ffffff; font-size: 20px;">Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.</span></p>
</div>
</div>
</div></div></div></div></div>
{% endblock %}

{% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
<div class="learndash_topic_dots type-list" id="learndash_topic_dots-158023">
<strong>Unit Sections</strong>
<ul>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/1" title="Introduction">
<span>Introduction</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/2" title="Learning outcomes">
<span>Learning outcomes</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/3" title="Introduction to person-centred care">
<span>Introduction to person-centred care</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/4" title="Values in health and social care">
<span>Values in health and social care</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/5" title="The 6Cs">
<span>The 6Cs</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/6" title="Person-centred values">
<span>Person-centred values</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/7" title="Person-centred values – individuality and independence">
<span>Person-centred values – individuality and independence</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/8" title="Person-centred values – privacy and partnership">
<span>Person-centred values – privacy and partnership</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/9" title="Person-centred values – choice and dignity">
<span>Person-centred values – choice and dignity</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/10" title="Person-centred values – respect and rights">
<span>Person-centred values – respect and rights</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/11" title="Working in a person-centred way">
<span>Working in a person-centred way</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/12" title="Person-centred planning">
<span>Person-centred planning</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/13" title="Person-centred care delivery priorities">
<span>Person-centred care delivery priorities</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/14" title="Promoting dignity">
<span>Promoting dignity</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/15" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/16" title="Introduction to care planning">
<span>Introduction to care planning</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/17" title="Life history, preferences, wishes and needs">
<span>Life history, preferences, wishes and needs</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/18" title="Reviewing and updating care plans">
<span>Reviewing and updating care plans</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/19" title="Understanding care plans">
<span>Understanding care plans</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/20" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/21" title="Introduction to supporting and planning for future wellbeing and fulfilment">
<span>Introduction to supporting and planning for future wellbeing and fulfilment</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/22" title="Supporting individuals using the person-centred approach">
<span>Supporting individuals using the person-centred approach</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/23" title="Planning for the future">
<span>Planning for the future</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/24" title="Advance Care Planning (ACP)">
<span>Advance Care Planning (ACP)</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/25" title="Advocacy">
<span>Advocacy</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/26" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/27" title="Minimising pain, discomfort or distress">
<span>Minimising pain, discomfort or distress</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/28" title="Factors that may cause discomfort or distress">
<span>Factors that may cause discomfort or distress</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/29" title="Minimising discomfort or distress">
<span>Minimising discomfort or distress</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/30" title="Actions that may cause discomfort or distress">
<span>Actions that may cause discomfort or distress</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/31" title="Consent">
<span>Consent</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/32" title="Raising concerns and handovers">
<span>Raising concerns and handovers</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/33" title="Supporting individuals to minimise pain or discomfort">
<span>Supporting individuals to minimise pain or discomfort</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/34" title="Taking action to minimise pain or discomfort">
<span>Taking action to minimise pain or discomfort</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/35" title="Scenarios">
<span>Scenarios</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/36" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/37" title="Maintaining identity and self-esteem">
<span>Maintaining identity and self-esteem</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/38" title="Wellbeing">
<span>Wellbeing</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/39" title="Identity and self-esteem">
<span>Identity and self-esteem</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/40" title="Promoting wellbeing">
<span>Promoting wellbeing</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/41" title="Raising concerns">
<span>Raising concerns</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/42" title="Supporting using person-centred values">
<span>Supporting using person-centred values</span>
</a>
</span>
</li>
<li class="nth-of-type-odd">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/43" title="Summary/reflection">
<span>Summary/reflection</span>
</a>
</span>
</li>
<li class="">
<span class="topic_item">
<a class="topic-completed" href="/lms/care-certificate/unit/5/topic/44" title="Summary of Care Certificate Standard 5">
<span>Summary of Care Certificate Standard 5</span>
</a>
</span>
</li>
</ul>
</div>
</div><div class="learndash_quizzes" id="learndash_quizzes">
<div id="quiz_heading"><span>Quizzes</span><span class="right">Status</span></div>
<div class="quiz_list" id="quiz_list">
<div class="is_not_sample" id="post-163959">
<div class="list-count">1</div>
<h4>
<a class="completed" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-5-work-in-a-person-centred-way/quiz/care-certificate-5-work-in-a-person-centred-way-quiz/">Care Certificate Standard 5 - Work in a Person-Centred Way Quiz</a>
</h4>
</div>
</div>
</div><p id="learndash_next_prev_link"><a class="prev-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-4-equality-and-diversity/" rel="prev"><span class="meta-nav">←</span> Previous Unit</a> <a class="next-link" href="https://cpdonline.co.uk/lms/care-certificate/unit/care-certificate-standard-6-communication/" rel="next">Next Unit <span class="meta-nav">→</span></a></p>
{% endblock %}