
<link rel="stylesheet" href="/static/quiz.css">
{% extends 'care_certificate/quiz_layout.html' %}

{% block top_box %}
<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h1 class="vc_custom_heading" style="color: #ffffff;text-align: center">Care Certificate Standard 5 – Work in a Person-Centred Way Quiz</h1>
<div class="wpb_text_column wpb_content_element">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ffffff; font-size: 20px;">Now
 you can attempt the quiz for this course. You must achieve at least 12 
out of the 15 questions to pass but you can attempt the quiz as many 
times as you like. So if you don’t pass first time – don’t worry. You 
can go back to the lessons and reattempt the quiz again as many times as
 you need to pass.</span></p>
</div>
</div>
</div></div></div>
{% endblock %}

{% block audio %}
<div class="skin_default" id="skin_default">
<div class="h5ap_quick_player" data-options='{"controls":["play","progress","duration","mute","volume"],"seekTime":0}' style="width:px">
<audio autoplay="autoplay" class="player64215f00a9e43" controls="controls" muted="muted" playsinline="" preload="auto">
<source src="/static/quiz_audio/45-mini-quiz_1.mp3" type="audio/mp3"/>
            Your browser does not support the audio element.
            </audio>
</div>
</div>
{% endblock %}

{% block result %}
<div class="wpProQuiz_results" id="result_div" style="display: none;">
 <h4 class="wpProQuiz_header">
  Results
 </h4>
 <p>
  <span class="wpProQuiz_correct_answer" id="correct_answers">
   4
  </span>
  of
  <span>
   15
  </span>
  Questions answered correctly
 </p>
 <div>
  <ul class="wpProQuiz_resultsList">
   <li id="msg_failed" style="display: none;">
    <div>
     <p>
      You have failed the quiz. But don’t worry – you can go back to 
the lessons and then tackle this quiz again as many times as you need to
 pass.
     </p>
    </div>
   </li>
   <li id="msg_passed" style="display: none;">
    <div>
     <p>
      Well done on passing the quiz!
     </p>
     <p>
      You have now completed the Care Certificate 5 quiz! You can now move onto the next section.
     </p>
    </div>
   </li>
  </ul>
 </div>
 <div class="ld-quiz-actions" style="margin: 10px 0px;">
  <input class="wpProQuiz_button wpProQuiz_button_restartQuiz" id="restart_quiz" name="restartQuiz" type="button" value="Restart Quiz"/>
 </div>
</div>

{% endblock %}

{% block quiz %}
<ol class="wpProQuiz_list">
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    1
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     The main legislation that sets out the rights of people in the United Kingdom (UK) is which of the following?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12473" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12473" type="radio" value="0"/>
      The Equality Act 2010
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12473" type="radio" value="0"/>
      The Health and Safety at Work, etc. Act 1974
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12473" type="radio" value="1"/>
      The Human Rights Act 1998
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12473" type="radio" value="0"/>
      The Care Act 2014
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    2
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Not having the fear to try out anything new or to express any concerns is which of the following 6Cs?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12472" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12472" type="radio" value="0"/>
      Competence
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12472" type="radio" value="1"/>
      Courage
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12472" type="radio" value="0"/>
      Commitment
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12472" type="radio" value="0"/>
      Communication
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    3
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     The brightness of the lighting is causing discomfort to the individual. What could you do to promote their wellbeing?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12476" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12476" type="radio" value="1"/>
      Dim the lighting
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12476" type="radio" value="0"/>
      Open the windows
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12476" type="radio" value="0"/>
      Adjust the room temperature
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12476" type="radio" value="0"/>
      Air the room
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    4
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     A review of the care plan should be carried out with the individual and should look at which of the following?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12474" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12474" type="radio" value="0"/>
      What doesn't work
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12474" type="radio" value="0"/>
      What is working
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12474" type="radio" value="1"/>
      All of these answers
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12474" type="radio" value="0"/>
      What changes may be required
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    5
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is a term used to describe feeling comfortable in one’s life?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12478" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12478" type="radio" value="1"/>
      Wellbeing
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12478" type="radio" value="0"/>
      Empathy
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12478" type="radio" value="0"/>
      Spiritual
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12478" type="radio" value="0"/>
      Attitude
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    6
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Care plans are what type of records and documents?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12475" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12475" type="radio" value="1"/>
      Dynamic and legal
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12475" type="radio" value="0"/>
      Static and rule-based
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12475" type="radio" value="0"/>
      Large and detailed
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12475" type="radio" value="0"/>
      Generic and non-legal
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    7
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What takes place at the beginning or the end of the shift when staff teams change?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12477" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12477" type="radio" value="0"/>
      A personal review
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12477" type="radio" value="1"/>
      A handover
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12477" type="radio" value="0"/>
      An exam
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12477" type="radio" value="0"/>
      A discussion
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    8
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is not an example of non-verbal communication of pain?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12479" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12479" type="radio" value="0"/>
      Furrowed brows
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12479" type="radio" value="1"/>
      Shouting
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12479" type="radio" value="0"/>
      Doubling over
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12479" type="radio" value="0"/>
      Gritted teeth
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    9
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     When considering the person-centred value, individuality, what type of approach does not work?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12480" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12480" type="radio" value="1"/>
      One size fits all
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12480" type="radio" value="0"/>
      Compassionate
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12480" type="radio" value="0"/>
      Caring
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12480" type="radio" value="0"/>
      Respectful
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    10
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     To ensure that you understand how care plans are used in your workplace, you should ask your manager for which of the following?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12481" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12481" type="radio" value="0"/>
      Your employer's health and safety policy
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12481" type="radio" value="0"/>
      A copy of your job description
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12481" type="radio" value="0"/>
      Risk assessments
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12481" type="radio" value="1"/>
      Copies of different care plans
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    11
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     What is the purpose of using person-centred values?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12482" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12482" type="radio" value="1"/>
      To empower the individual to speak up and take as much control as possible so they live a fulfilled life
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12482" type="radio" value="0"/>
      To lessen the burden on the individual's family and friends
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12482" type="radio" value="0"/>
      To allow the individual to live their life without care and support
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12482" type="radio" value="0"/>
      To advance your career as a health and social care worker
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    12
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which word is missing. An advocate can
     <u>
     </u>
     the individual’s wishes on their behalf if they are unable to do so themselves.
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12484" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12484" type="radio" value="0"/>
      Sanction
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12484" type="radio" value="0"/>
      Ignore
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12484" type="radio" value="0"/>
      Request
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12484" type="radio" value="1"/>
      Communicate
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    13
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which of the following is not an example of what values can be formed by?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12485" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12485" type="radio" value="0"/>
      Families
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12485" type="radio" value="0"/>
      Backgrounds
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12485" type="radio" value="1"/>
      Attitudes
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12485" type="radio" value="0"/>
      Childhoods
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    14
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Who can communicate the individual’s wishes on their behalf if they are unable to do so themselves?
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12483" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12483" type="radio" value="0"/>
      Your colleagues
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12483" type="radio" value="0"/>
      A friend
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12483" type="radio" value="0"/>
      A member of the public
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12483" type="radio" value="1"/>
      An advocate
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" name="next" style="float: right; display: none;" type="button" value="Next"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <div class="wpProQuiz_question_page">
   Question
   <span>
    15
   </span>
   of
   <span>
    15
   </span>
  </div>
  <div class="wpProQuiz_question" style="margin: 10px 0px 0px 0px;">
   <div class="wpProQuiz_question_text">
    <p>
     Which word is missing? Values are beliefs and ideas about how people should
     <u>
     </u>
     .
    </p>
   </div>
   <p class="wpProQuiz_clear" style="clear:both;">
   </p>
   <ul class="wpProQuiz_questionList" data-question_id="12486" data-type="single">
    <li class="wpProQuiz_questionListItem" data-pos="0">
     <span style="display:none;">
      1.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12486" type="radio" value="0"/>
      Harm
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="1">
     <span style="display:none;">
      2.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12486" type="radio" value="0"/>
      Report
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="2">
     <span style="display:none;">
      3.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12486" type="radio" value="0"/>
      Listen
     </label>
    </li>
    <li class="wpProQuiz_questionListItem" data-pos="3">
     <span style="display:none;">
      4.
     </span>
     <label>
      <input autocomplete="off" class="wpProQuiz_questionInput" name="question_134_12486" type="radio" value="1"/>
      Behave
     </label>
    </li>
   </ul>
  </div>
  <div class="wpProQuiz_response" style="display: none;">
   <div class="wpProQuiz_correct" style="display: none;">
    <span>
     Correct
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
   <div class="wpProQuiz_incorrect" style="display: none;">
    <span>
     Incorrect
    </span>
    <div class="wpProQuiz_AnswerMessage">
    </div>
   </div>
  </div>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="back" style="float: left ; margin-right: 10px ; display: none;" type="button" value="Back"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" name="check" style="float: right; margin-right: 10px; display: none;" type="button" value="Check"/>
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" data-question-lock="true" disabled="disabled" name="next" style="float: right; display: none;" type="button" value="Finish Quiz"/>
  <div style="clear: both;">
  </div>
 </li>
 <li class="wpProQuiz_listItem">
  <input class="wpProQuiz_button wpProQuiz_QuestionButton" id="btn_check" name="check" style="float: right; margin-right: 10px; " type="button" value="Check"/>
  <div style="clear: both;">
  </div>
 </li>
</ol>

<script src="/static/check_quiz.js"></script>
{% endblock %}
